@use "../../variables" as *;

.Suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: $extraSmall;
  margin-top: $extraSmall;
  list-style: none;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
}
