.WeatherCards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
  width: 100%;
  max-width: 800px;

  .twoCards {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-wrap: nowrap;

    .card {
      flex: 1 1 calc(50% - 0.5rem);
      margin: 0;
    }
  }
}
